html,body{
    height: 100%;
    width:100%
}
#menu
{
    height: 80%;
    display: inline-grid;
    background-color: #555;
    color:white;
    margin-top: 10%;
    width: 8%;

}
.material-icons{
    /*vertical-align: 100px;*/
    font-size: x-large;
    align-content: center;
    /*background-color: #555;*/
}
#icon1{
    align-content: center;
    margin-left: 25%;
    margin-top: 8%;
}
#icon2{
    margin-left: 25%;
}
#icon3 {
    margin-left: 25%;
}
#icon4{
    margin-left: 25%;
}